<div>
  <h1>Merhaba {{name}},</h1>
  <p>Hesabınızı aktifleştirmek için lütfen aşağıdaki linke tıklayın:</p>
  <a href="{{url}}">Hesabımı Aktifleştir</a>
  <p>Eğer bu işlemi siz yapmadıysanız, bu maili dikkate almayınız.</p>
</div>